{
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@softonus/prettier-plugin-whitespace-remover",
    "@softonus/prettier-plugin-duplicate-remover"
  ]
}
